@import 'bootstrap';
//variables
$trim-color: rgba(255, 169, 11, 0.9);

@mixin responsive-standard-text-mixin{
    @media(max-width: $screen-xs-max){ font-size: 15px; }
    @media(min-width: $screen-sm-min){ font-size: 20px; }  
    @media(min-width: $screen-md-min){ font-size: 25px; }  
    @media(min-width: $screen-lg-min){ font-size: 30px; } 
}


/*General stuff*/
body {
	color: rgba(255, 255, 255, 0.6);
    background-color: #000000;
}

.centered{
     float: none;
     margin-left: auto;  
     margin-right: auto;
     text-align: center;
}

#main{
    @media(max-width: $screen-xs-max){ 
        padding-right: 5%;
        padding-left: 5%; 
        margin: 3%;
    }
    @media(min-width: $screen-sm-min){ 
        padding-right: 10%;
        padding-left: 10%;
        margin: 2% 10%;
    }  
	border: solid rgba(255, 255, 255, 0.6);
}

.trim{
    color: $trim-color;
}

/*Banner */
.banner, .banner:hover, .banner:active, 
.banner:focus, .banner:visited{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Nunito', Geneva, sans-serif;
    @media(max-width: $screen-xs-max){ font-size: 25px; }
    @media(min-width: $screen-sm-min){ font-size: 35px; }  
    @media(min-width: $screen-md-min){ font-size: 55px; }  
    @media(min-width: $screen-lg-min){ font-size: 80px; } 
}

/*Input*/
.btn:focus, .btn:active:focus, .btn.active:focus,
.btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none; /*Removes the button outline in chrome/safari*/
}

#input_str{
    background: rgba(255, 255, 255, 0.6);
    font-size: 1.8em;
    font-weight: bold;
    color: black;
    padding-top: 9px;
    padding-bottom: 9px;
    height: auto;
    line-height: normal;    
}

.btn-warning.raised {
    box-shadow: 0 3px 0 0 #b87430;
    &:active{
        background: #eba259;
        box-shadow: none;
        margin-bottom: -3px;
        margin-top: 3px;    
    }
}

.smallbtn{
    @media(max-width: $screen-xs-max){ visibility: hidden; height:0; }
}

.bigbtn{
    @media(min-width: $screen-sm-min){ 
        visibility: hidden; 
        height: 0; 
    }  
}

#divDBResult{
    @include responsive-standard-text-mixin;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 5%;
    .error{
        color: red;
    }
}

/*PermaLink Stuff*/
.btn{
    float:left;
}

#permaDiv{
    margin-top: 5%;
    margin-bottom: 5%;
}

/*Scores*/
#scores{
    @include responsive-standard-text-mixin;
    font-family: 'Nunito', Geneva, sans-serif;
    #wwfDiv{
        float:right;
    }

    #scrabbleDiv{
        float:left;
    }
}

/*Definitions*/
#divDefinitions{
    font-family: Georgia, serif;
    @include responsive-standard-text-mixin;
    margin-bottom: 2%;
    .entry{
        border: 2px solid;
        padding: 10px 25px 10px 25px;
    }
    label{
        color: rgba(255, 169, 11, 0.9);
        &.transVerb{
            padding-top: 10px;
            padding-bottom: 10px;    
            display: block;
        }
    }
    .audio{
        float:right;
        /*Only show audio tags if they'll fit on the screen*/
        @media(max-width: 540px){
            visibility: hidden;
            opacity:0;
            transition:visibility 0s linear 0.5s,opacity 0.5s linear;
            height: 0;
        }
        @media(min-width: 540px){
            visibility: visible;
            opacity:1;
            transition-delay:0s;
            height: auto;
        }
    }    
    .definitionTable{
        padding-left:3%;
        .heading{
            color: $trim-color;
            vertical-align: top;
            &.primary{
                width: 5%;
            }
        }
    }
}

/*direct page*/
#wordDisplayDiv{
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border: 2px solid;
    border-color: white;
    margin:0 auto;
    display: inline-block;    
    padding-right: 30px;
    padding-left: 30px;
}