/*  Main.css */
@import 'bootstrap';

/*General stuff*/
body {
	color: rgba(255, 255, 255, 0.6);
    background-color: #000000;
}

.center{
     float: none;
     margin-left: auto;  
     margin-right: auto;
     text-align: center;
}

/*main container*/

#main{
	margin-top: 1%;
	margin-left: 10%;
	margin-right: 10%;
	padding-right: 10%;
	padding-left: 10%;
	border: solid rgba(255, 255, 255, 0.6);
}

/*Banner */
.banner, .banner:hover, .banner:active{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-family: Tahoma, Geneva, sans-serif;
    .trim{
        color: rgba(255, 169, 11, 0.9);
    }
    &:hover{
        text-decoration: none;
    }
    @media(max-width: $screen-xs-max){ font-size: 30px; }
    @media(min-width: $screen-sm-min){ font-size: 40px; }  
    @media(min-width: $screen-md-min){ font-size: 60px; }  
    @media(min-width: $screen-lg-min){ font-size: 80px; } 
}

/*Input*/
//remove the outline in chrome
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}

.btn-warning.raised {
    box-shadow: 0 3px 0 0 #b87430;
    &:active{
        background: #eba259;
        box-shadow: none;
        margin-bottom: -3px;
        margin-top: 3px;    
    }
}