/*  Main.css */
@import 'bootstrap';

/*General stuff*/
body {
	color: rgba(255, 255, 255, 0.6);
    background-color: #000000;
}

.centered{
     float: none;
     margin-left: auto;  
     margin-right: auto;
     text-align: center;
}

#main{
    margin: 2% 10% 2% 10%;
	padding-right: 10%;
	padding-left: 10%;
	border: solid rgba(255, 255, 255, 0.6);
}

.trim{
    color: rgba(255, 169, 11, 0.9);
}

/*Banner */
.banner, .banner:hover, .banner:active, 
.banner:focus, .banner:visited{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-family: Tahoma, Geneva, sans-serif;
    @media(max-width: $screen-xs-max){ font-size: 30px; }
    @media(min-width: $screen-sm-min){ font-size: 40px; }  
    @media(min-width: $screen-md-min){ font-size: 60px; }  
    @media(min-width: $screen-lg-min){ font-size: 80px; } 
}

/*Input*/
.btn:focus, .btn:active:focus, .btn.active:focus,
.btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none; /*Removes the button outline in chrome/safari*/
}

.btn-warning.raised {
    box-shadow: 0 3px 0 0 #b87430;
    &:active{
        background: #eba259;
        box-shadow: none;
        margin-bottom: -3px;
        margin-top: 3px;    
    }
}

/*Scores*/
#wwfDiv{
    float:right;
}

#scrabbleDiv{
    float:left;
}

/*Definitions*/
#divDefinitions{
    font-family: Georgia, serif;
    .entry{
        border: 2px solid;
        padding: 10px 25px 10px 25px;
    }
    label{
        color: rgba(255, 169, 11, 0.9);
        &.transVerb{
            padding-top: 10px;
            padding-bottom: 10px;    
            display: block;
        }
    }
    .audio{
        float:right;
        @media(max-width: 540px){
            visibility: hidden;
        }
        @media(min-width: 540px){
            visibility: visible;
        }
    }    
    .definitionTable{
        padding-left:3%;
        .heading{
            color: rgba(255, 169, 11, 0.9);
            vertical-align: top;
            &.primary{
                width: 5%;
            }
        }
    }
}