{#-
definition.html

This stunning display of elegance receives a list of definitions from the
server and formats it nicely into beautiful code. Comments are minimal
because the code is undeniably straight forward.
-#}

{%- for subDic in master -%}
    <div class="entry">
        <p><label>Word</label>: {{ subDic['id'] }}</p>
        {%- if "partOfSpeech" in subDic.keys() -%}
            <p><label>Part of Speech</label>: {{ subDic['partOfSpeech'] }}</p>
        {%- endif -%}
        {%- if "pronunciation" in subDic.keys() -%}
            <p><label>Pronunciation</label>:{{ subDic['pronunciation'] }}</p>
        {%- endif -%}
        {%- if "sound" in subDic.keys() -%}
            <div class="player" >
                <audio controls="controls" >
                    <source type="audio/wav" src="http://media.merriam-webster.com/soundc11/{{ subDic['sound'] }}" />
                    Your browser does not support the audio element.
                </audio>
            </div>
        {%- endif -%}
        {%- if "etymology" in subDic.keys() -%}
            <p><label>Etymology</label>: {{ subDic['etymology'] }}</p>
        {%- endif -%}
        {%- if "date" in subDic.keys() -%}
            <p><label>First Used</label>: {{ subDic['date'] }}</p>
        {%- endif -%}
        {%- if "definitions" in subDic.keys() -%}
            {%- if subDic["definitions"]|length > 1 -%}
                {#- if it's multiline -#}
                <p><label>Definition</label>:</p>
                <table class="definitionTable">
                {%- for def in  subDic["definitions"] -%}
                    <tr>
                        <td class="heading primary">{{ def.heading }}</td>
                        <td class="details"><span class="heading">{{ def.subheading }} </span>
                            {%- for detail in def.details -%}
                                {%- if detail.effect == "s" -%}
                                    <span class="heading">{{ detail.text }}</span>
                                {%- elif detail.effect == "i" -%}
                                    <em>{{ detail.text }}</em>
                                {%- elif detail.effect == "vt" -%}
                                    <label class="transVerb">{{ detail.text }}</label>
                                {%- else -%}
                                    {{ detail.text }}
                                {%- endif -%}
                            {%- endfor -%}
                        </td>
                    </tr>
                {%- endfor -%}
                 </table>
            {%- else -%}
                {#- if it's a single line definition -#}
                {%- for def in subDic["definitions"] -%}
                    {%- for detail in def.details -%}
                        <p><label>Definition</label>: {{ detail.text }}</p>
                    {%- endfor -%}
                {%- endfor -%}
            {%- endif -%}
        {%- endif -%}
    </div>
{%- endfor -%}
