{#- direct.html
    
    Permalink
-#}
<html>
    <head>
        <title>Is {{ input_str|title }} A Word?</title>
        {%- if use_css -%} {#- Cute little function to show what the page looks like without css -#}
            <link rel="stylesheet" type="text/css" href= "/stylesheets/main.css">
            <link href='http://fonts.googleapis.com/css?family=Nunito:700' rel='stylesheet' type='text/css'>
        {%- endif -%}
    </head>
    
    <body>
        <div id="main" class="container-fluid">
            {%- include 'banner.html' -%}

                  
            <div id="wordRow" class="row centered"> 
                <div id="wordDisplayDiv">
                        <h1 class="trim">{{ input_str|upper }}</h1>
                </div>
            </div>

            <div class="row"> <!-- Scores -->
                <div id="scores" class="centered">
                    <div id="scrabbleDiv">
                        <p>Scrabble Score</p>
                        <p id="scrabbleScore">0<p>
                    </div>
                    <div id="wwfDiv">
                        <p>Words With <br /> Friends Score</p>
                        <p id="wwfScore">0<p>                    
                    </div>
                </div>
            </div>
            
            <div class="row"> <!-- Definitions -->
                <div id="divDefinitions" >
                
                </div>
            </div>            
        </div>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.min.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/color/jquery.color-2.1.2.js"></script>        
        <script type="text/javascript" src="/javascript/tools.js"></script>        
        <script type="text/javascript" >
        
            $( document ).ready(function() {
                updateScores("{{ input_str }}", $("#scrabbleScore"), $("#wwfScore")); //sets the scores
                handleVersion( {{ is_up_to_date }} ); 
                if(dataIsCached("{{ input_str }}")){ //if the data is cached
                    setDefinitions($("#divDefinitions"), localStorage.getItem("{{ input_str }}"), true);
                } else {//otherwise
                    getAndSetDefinitions("{{ input_str }}","{{ word_id }}",$("#divDefinitions")); //get the definition from Websters API
                }
            });
        </script>
        
    </body>
    
</html>