{#- direct.html
    
    Permalink
-#}
<html>
    <head>
        <title>Is {{ input_str|title }} A Word?</title>
        {%- if use_css -%} {#- Cute little function to show what the page looks like without css -#}
            <link rel="stylesheet" type="text/css" href= "/stylesheets/main.css">
        {%- endif -%}
    </head>
    
    <body class="success">
        <div id="container">
            <div id="divHeading">
                <h1>
                    <a href="/" id="banner" class="banner" >Is that <span class="offColor">a</span> Word?</a>
                </h1>
            </div>            
            <div id="divCenter"> 
                <div id="wordDisplayDiv">
                    <h1>
                        <span class="wordDisplayHeading" id="wordDisplayHeading" >Your Word is:</span> <br />
                        <span class="wordDisplay" id="wordDisplay"> {{ input_str|upper }} </span> 
                    </h1>
                </div>
            </div>


            <div id="divDBResult" class="divDBResult">
                <p id="inputError" class="inputError"></p>
                <p id="DBResult"></p>
            </div> 
            

            <div id="scores">
                <table id="scoresTable" class="scoresTable">
                    <tr id="labelRow">
                        <td id="ScrabbleLabel"><br />Scrabble Score</td>
                        <td></td>
                        <td id="wwfLabel"><span id="wwfScoreSpan">Words With <br /> Friends Score</span></td>
                    </tr>
                    <tr>
                        <td id="scrabbleScore" class="scrabbleScore">0</td>
                        <td></td>
                        <td id="wwfScore" class="wwfScore">0</td>
                    </tr>
                </table>
            </div>

            <div id="divDefinitions" >
            
            </div><br />
        </div>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.min.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/color/jquery.color-2.1.2.js"></script>        
        <script type="text/javascript" src="/javascript/tools.js"></script>        
        <script type="text/javascript" >
        
            $( document ).ready(function() {
                updateScores("{{ input_str }}"); //sets the scores
                handleVersion( {{ is_up_to_date }} ); 
                if(dataIsCached("{{ input_str }}")){ //if the data is cached
                    setDefinitions($("#divDefinitions"), localStorage.getItem("{{ input_str }}"), true);
                } else {//otherwise
                    getAndSetDefinitions("{{ input_str }}","{{ word_id }}",$("#divDefinitions")); //get the definition from Websters API
                }
            });
            
            //update Scrabble and WWF scores
            function updateScores(word){
                $("#scrabbleScore").text(getScore(word, scrabbleKey));
                $("#wwfScore").text(getScore(word, wwfKey));
            }
        </script>
        
    </body>
    
</html>