{#-isThatAWord.html
    
    Homepage
-#}

<!DOCTYPE html>
<html>
    <head>
        <title>Is that A Word? </title>
        {%- if use_css -%}  {#- Cute little function to show what the page looks like without css -#}
            <link rel="stylesheet" type="text/css" href= "/stylesheets/main.css">
        {%- endif -%}
    </head>    
    <body>
        <div id="main" class="container-fluid">
            <div class="row center"> <!-- Heading -->
                <h1>
                    <a href="/" id="banner" class="banner" >
                        Is that <span class="trim">a</span> Word?
                    </a>
                </h1>
            </div>
            
            <div class="row center"> <!-- Search -->
                <form role="form" onsubmit="submitHandler();return false;">
                    <div class="">
                        <span class="col-xs-9 col-xs-offset-1">
                            <input type="text" id="input_str" class="form-control" value="{{input_str}}" onkeyup="updateScores($(this).val().trim());" /> 
                        </span>
                        <button type="submit" class="btn btn-warning btn-lg raised"  onclick="submitHandler();return false;">GO</button>
                    </div>
                </form>
            </div>
            
            <div class="row" hidden> <!-- Direct -->
                <div class="permaLinkHolder">
                    <label>Direct Link</label>
                    <input type="text" id="permalinkAddress" /> <!--<a href="#" id="permaButton">GO</a>-->
                    <button></button>
                </div>                    
            </div>
            
            <div class="row"> <!-- Result -->
                <div id="divDBResult" class="center">
                    <p id="DBResult"></p>
                    <p id="errorBlank" class="error" hidden>You need to type in something!</p>
                    <p id="errorBadChars" class="error" hidden>Only 1 word at a time, and only letters from A-Z!</p>
                    <p id="errorTooShort" class="error" hidden>The minimum word length is 2 letters!</p>
                </div> 
            </div>
            
            <div class="row"> <!-- Scores -->
                <div id="scores">
                    <table id="scoresTable" class="scoresTable">
                        <tr id="labelRow">
                            <td id="ScrabbleLabel"><br />Scrabble Score</td>
                            <td></td>
                            <td id="wwfLabel"><span id="wwfScoreSpan">Words With <br /> Friends Score</span></td>
                        </tr>
                        <tr>
                            <td id="scrabbleScore" class="scrabbleScore">0</td>
                            <td></td>
                            <td id="wwfScore" class="wwfScore">0</td>
                        </tr>
                    </table>
                </div>
            </div>
            
            <div class="row"> <!-- Definitions -->
                <div id="divDefinitions" >
                
                </div>
            </div>            
        </div>        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 
        <script type="text/javascript" src="/javascript/bootstrap.min.js"></script>   
        <script type="text/javascript" src="http://code.jquery.com/color/jquery.color-2.1.2.js"></script>       
        <script type="text/javascript" src="/javascript/tools.js"></script>    
        <script type="text/javascript" >
            
            var errorDict = {
                ERROR_BLANK: $("#errorBlank"),
                ERROR_BAD_CHARS: $("#errorBadChars"),
                ERROR_TOO_SHORT: $("#errorTooShort"),
            };
            
            $( document ).ready(function() {
                updateScores($("#input_str").val());
                //Check to see if the page has updated since the last visit
                handleVersion( {{ is_up_to_date }} );
                setDefinitions($("#divDefinitions"),"",false); //make sure definitions are empty
            });
            
            //Handles submit action
            function submitHandler(){
                //valid[0] is validity valid[1] is either the word formatted nicely or error text
                var valid = validateWord($('#input_str'));
                
                if(valid[0]){//if it's a valid word
                    setError(null); //no errors
                    if(dataIsCached(valid[1])){ // if it's a valid word and the data is cached
                        if(localStorage.getItem(valid[1]) == " "){//if the word is valid & cached, but it isn't in the Scrabble word list
                            $('#DBResult').text("In Scrabble and Words with Friends, ".concat(valid[1].concat(" is not a word!")));
                            setBackground(failColor,defaultInterval);
                            setDefinitions($("#divDefinitions"),"",true)
                        } else { //if the data is cached and is in the dictionary
                            $('#DBResult').text(valid[1].concat(" is a word!"));
                            setBackground(successColor,defaultInterval);
                            //showPermalink(true, localStorage.getItem(valid[1].concat("_permalink")));
                            setDefinitions($("#divDefinitions"),localStorage.getItem(valid[1]), true)
                        }                        
                    } else { //if the word is valid and is not cached
                        setError(null);
                        processWord(valid[1]);                    
                    }
                } else { //if it's not a valid word
                    setBackground(defaultColor,defaultInterval);
                    //showPermalink(false);
                    $('#DBResult').text("");
                    setError(valid[1]);                    
                    setDefinitions($("#divDefinitions"),"", false)
                }
            }
            
            function setError(error){
                for(key in errorDict){
                    if(key == error){
                        errorDict[key].show();
                    } else {
                        errorDict[key].hide();
                    }
                }            
            }
        
            //Does initial processing for word
            function processWord(input){ 
                $.ajax({
                    type: 'GET',
                    url: '/findword',
                    data: {input_str: input },
                    success: function(data){                        
                        if(data["found"]){
                            getAndSetDefinitions(input, data['word_id']); //IMMEDIATELY start working on getting the definitions
                            $('#DBResult').text(input.concat(" is a word!"));
                            setBackground(successColor,defaultInterval);
                            //showPermalink(true,"http://www.isthataword.net/direct/".concat(data['word_id']))
                        } else {
                            $('#DBResult').text("In Scrabble and Words with Friends, ".concat(input.concat(" is not a word!")));
                            setDefinitions($("#divDefinitions"),"",false)
                            //showPermalink(false)
                            setBackground(failColor,defaultInterval);
                            cacheHandler(input,""," ");
                        }
                        
                    },
                    dataType: 'json'
                });
            }
                  
            //Gets the definition for a given word
            function getAndSetDefinitions(input, wordId){   
                $.ajax({
                    type: 'GET',
                    url: '/define',
                    data: {input_str: input },
                    success: function(data){                       
                        if(data == ""){
                            data = "<div class='inputError'>While ".concat(input).concat(" is a word, we don't have a definition for it at this time!</div>");
                        } 
                        cacheHandler(input, wordId, data);
                        setDefinitions($("#divDefinitions"), data, true)
                    },
                    dataType: 'html'
                });
            }
            
            //update Scrabble and WWF scores
            function updateScores(word){
                $("#scrabbleScore").text(getScore(word, scrabbleKey));
                $("#wwfScore").text(getScore(word, wwfKey));
            }            
            
        </script>
        
    </body>
    
</html>